<h3>{{ i18n "platinumsponsor" }}</h3>

<div class="container text-center">
    <div class="row align-items-center">
        <div class="col-md-6 my-3 px-4">
            <a href="https://www.hpctech.co.jp" target="_blank">
                <img src="{{ .Site.BaseURL }}/sponsors/9-hpctech.webp" class="img-fluid" alt="sponsor">
            </a>
        </div>
    </div>
</div>

<h3>{{ i18n "goldsponsor" }}</h3>

<div class="container text-center">
    <div class="row align-items-center">
        <div class="col-md-4 my-3 px-4">
            <a href="https://www.d-itlab.co.jp/en/" target="_blank">
                <img src="{{ .Site.BaseURL }}/sponsors/2-d-itlab.webp" class="img-fluid" alt="sponsor">
            </a>
        </div>
        <div class="col-md-4 my-3 px-4">
            <a href="https://www.lycorp.co.jp/en/" target="_blank">
                <img src="{{ .Site.BaseURL }}/sponsors/7-lycorp.webp" class="img-fluid" alt="sponsor">
            </a>
        </div>
        <div class="col-md-4 my-3 px-4">
            <a href="https://elementsinc.jp/global/" target="_blank">
                <img src="{{ .Site.BaseURL }}/sponsors/16-elementsinc.webp" class="img-fluid" alt="sponsor">
            </a>
        </div>
        <div class="col-md-4 my-3 px-4">
            <a href="https://www.global.toshiba/ww/top.html" target="_blank">
                <img src="{{ .Site.BaseURL }}/sponsors/24-toshiba.webp" class="img-fluid" alt="sponsor">
            </a>
        </div>
        <div class="col-md-4 my-3 px-4">
            <a href="https://www.corp-sansan.com/" target="_blank">
                <img src="{{ .Site.BaseURL }}/sponsors/32-sansan.webp" class="img-fluid" alt="sponsor">
            </a>
        </div>
    </div>
</div>

<h3>{{ i18n "silversponsor" }}</h3>

<div class="container text-center">
    <div class="row align-items-center">
        <div class="col-md-3 my-3 px-4">
            <a href="https://www.yachiyo-eng.co.jp/e/" target="_blank">
                <img src="{{ .Site.BaseURL }}/sponsors/31-yachiyo-eng.webp" class="img-fluid" alt="sponsor">
            </a>
        </div>
    </div>
</div>
