<h3>{{ i18n "platinumsponsor" }}</h3>

<div class="container text-center">
    <div class="row align-items-center">
        <div class="col-md-6 my-3 px-5">
            <a href="https://www.cyberagent.co.jp/en/" target="_blank">
                <img src="{{ .Site.BaseURL }}/sponsors/3-cyberagent.webp" class="img-fluid" alt="3-cyberagent">
            </a>
        </div>
        <div class="col-md-6 my-3 px-5">
            <a href="https://www.hitachi.com/rd/index.html" target="_blank">
                <img src="{{ .Site.BaseURL }}/sponsors/5-hitachi.webp" class="img-fluid" alt="5-hitachi">
            </a>
        </div>
        <div class="col-md-6 my-3 px-5">
            <a href="https://www.hpctech.co.jp" target="_blank">
                <img src="{{ .Site.BaseURL }}/sponsors/9-hpctech.webp" class="img-fluid" alt="9-hpctech">
            </a>
        </div>
        <div class="col-md-6 my-3 px-5">
            <a href="https://consumer.huawei.com/" target="_blank">
                <img src="{{ .Site.BaseURL }}/sponsors/39-huawei.webp" class="img-fluid" alt="39-huawei">
            </a>
        </div>
    </div>
</div>

<h3>{{ i18n "goldsponsor" }}</h3>

<div class="container text-center">
    <div class="row align-items-center">
        <div class="col-md-4 my-3 px-5">
            <a href="https://www.d-itlab.co.jp/en/" target="_blank">
                <img src="{{ .Site.BaseURL }}/sponsors/2-d-itlab.webp" class="img-fluid" alt="2-d-itlab">
            </a>
        </div>
        <div class="col-md-4 my-3 px-5">
            <a href="https://www.sensetime.jp/" target="_blank">
                <img src="{{ .Site.BaseURL }}/sponsors/4-sensetime.webp" class="img-fluid" alt="4-sensetime">
            </a>
        </div>
        <div class="col-md-4 my-3 px-5">
            <a href="https://www.lycorp.co.jp/en/" target="_blank">
                <img src="{{ .Site.BaseURL }}/sponsors/7-lycorp.webp" class="img-fluid" alt="7-lycorp">
            </a>
        </div>
        <div class="col-md-4 my-3 px-5">
            <a href="https://www.omron.com/jp/ja/technology/" target="_blank">
                <img src="{{ .Site.BaseURL }}/sponsors/10-omron.svg" class="img-fluid" alt="10-omron">
            </a>
        </div>
        <div class="col-md-4 my-3 px-5">
            <a href="https://zozonext.com/en" target="_blank">
                <img src="{{ .Site.BaseURL }}/sponsors/13-zozo.webp" class="img-fluid" alt="13-zozo">
            </a>
        </div>
        <div class="col-md-4 my-3 px-5">
            <a href="https://research.buysell-technologies.com/" target="_blank">
                <img src="{{ .Site.BaseURL }}/sponsors/14-buysell.webp" class="img-fluid" alt="14-buysell">
            </a>
        </div>
        <div class="col-md-4 my-3 px-5">
            <a href="https://elementsinc.jp/global/" target="_blank">
                <img src="{{ .Site.BaseURL }}/sponsors/16-elementsinc.webp" class="img-fluid" alt="16-elementsinc">
            </a>
        </div>
        <div class="col-md-4 my-3 px-5">
            <a href="https://netcompass.jp/?m=miru.l&d=2406" target="_blank">
                <img src="{{ .Site.BaseURL }}/sponsors/17-netcompass.webp" class="img-fluid" alt="17-netcompass">
            </a>
        </div>
        <div class="col-md-4 my-3 px-5">
            <a href="https://www.rd.ntt/e/" target="_blank">
                <img src="{{ .Site.BaseURL }}/sponsors/18-ntt.webp" class="img-fluid" alt="18-ntt">
            </a>
        </div>
        <div class="col-md-4 my-3 px-5">
            <a href="https://about.mercari.com/en/" target="_blank">
                <img src="{{ .Site.BaseURL }}/sponsors/19-mercari.webp" class="img-fluid" alt="19-mercari">
            </a>
        </div>
        <div class="col-md-4 my-3 px-5">
            <a href="https://www.turing-motors.com/en" target="_blank">
                <img src="{{ .Site.BaseURL }}/sponsors/21-turing-motors.webp" class="img-fluid" alt="21-turing-motors">
            </a>
        </div>
        <div class="col-md-4 my-3 px-5">
            <a href="https://www.nissan-global.com/EN/" target="_blank">
                <img src="{{ .Site.BaseURL }}/sponsors/22-nissan.webp" class="img-fluid" alt="22-nissan">
            </a>
        </div>
        <div class="col-md-4 my-3 px-5">
            <a href="https://www.global.toshiba/ww/top.html" target="_blank">
                <img src="{{ .Site.BaseURL }}/sponsors/24-toshiba.webp" class="img-fluid" alt="24-toshiba">
            </a>
        </div>
        <div class="col-md-4 my-3 px-5">
            <a href="https://www.daikin.com/about/corporate/tic" target="_blank">
                <img src="{{ .Site.BaseURL }}/sponsors/28-daikin.webp" class="img-fluid" alt="28-daikin">
            </a>
        </div>
        <div class="col-md-4 my-3 px-5">
            <a href="https://www.tiwaki.com/english" target="_blank">
                <img src="{{ .Site.BaseURL }}/sponsors/30-tiwaki.webp" class="img-fluid" alt="30-tiwaki">
            </a>
        </div>
        <div class="col-md-4 my-3 px-5">
            <a href="https://www.corp-sansan.com/" target="_blank">
                <img src="{{ .Site.BaseURL }}/sponsors/32-sansan.webp" class="img-fluid" alt="32-sansan">
            </a>
        </div>
        <div class="col-md-4 my-3 px-5">
            <a href="https://www.shi.co.jp/" target="_blank">
                <img src="{{ .Site.BaseURL }}/sponsors/37-shi-g.webp" class="img-fluid" alt="37-shi-g">
            </a>
        </div>
    </div>
</div>

<h3>{{ i18n "silversponsor" }}</h3>

<div class="container text-center">
    <div class="row align-items-center">
        <div class="col-md-3 my-3 px-5">
            <a href="https://goinc.jp/" target="_blank">
                <img src="{{ .Site.BaseURL }}/sponsors/8-goinc.webp" class="img-fluid" alt="8-goinc">
            </a>
        </div>
        <div class="col-md-3 my-3 px-5">
            <a href="https://www.team-lab.com" target="_blank">
                <img src="{{ .Site.BaseURL }}/sponsors/15-team-lab.webp" class="img-fluid" alt="15-team-lab">
            </a>
        </div>
        <div class="col-md-3 my-3 px-5">
            <a href="https://jobs.m3.com/engineer/" target="_blank">
                <img src="{{ .Site.BaseURL }}/sponsors/23-m3.webp" class="img-fluid" alt="23-m3">
            </a>
        </div>
        <div class="col-md-3 my-3 px-5">
            <a href="https://www.imagicagroup.co.jp/en/" target="_blank">
                <img src="{{ .Site.BaseURL }}/sponsors/26-imagicagroup.webp" class="img-fluid" alt="26-imagicagroup">
            </a>
        </div>
        <div class="col-md-3 my-3 px-5">
            <a href="https://www.future.co.jp/en/" target="_blank">
                <img src="{{ .Site.BaseURL }}/sponsors/27-future.webp" class="img-fluid" alt="27-future">
            </a>
        </div>
        <div class="col-md-3 my-3 px-5">
            <a href="https://www.yachiyo-eng.co.jp/e/" target="_blank">
                <img src="{{ .Site.BaseURL }}/sponsors/31-yachiyo-eng.webp" class="img-fluid" alt="31-yachiyo-eng">
            </a>
        </div>
        <div class="col-md-3 my-3 px-5">
            <a href="https://www.ajiko.co.jp/en/" target="_blank">
                <img src="{{ .Site.BaseURL }}/sponsors/34-ajiko.webp" class="img-fluid" alt="34-ajiko">
            </a>
        </div>
        <div class="col-md-3 my-3 px-5">
            <a href="https://adacotech.co.jp/en/" target="_blank">
                <img src="{{ .Site.BaseURL }}/sponsors/38-adacotech.webp" class="img-fluid" alt="38-adacotech">
            </a>
        </div>
        <div class="col-md-3 my-3 px-5">
            <a href="https://exawizards.com/en/" target="_blank">
                <img src="{{ .Site.BaseURL }}/sponsors/40-exwzd.webp" class="img-fluid" alt="40-exwzd">
            </a>
        </div>
    </div>
</div>
